@import "tailwindcss";

:root {
 --dark:#111111;
 --dark-alternate:#1B1918;
 --primary:#FF5F3F;
 --primary-light:#F4EBEB;
}

@theme inline {
  --color-dark: var(--dark);
  --color-dark-alternate: var(--dark-alternate);
  --color-primary: var(--primary);
  --color-primary-light: var(--primary-light);

  --font-poppins: var(--font-Poppins);
}

* {
  @apply font-poppins;
}

html{
  overflow-x: hidden;
}
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

/* body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
