@import "tailwindcss";

:root {
 --dark:#111111;
 --dark-alternate:#1B1918;
 --primary:#FF5F3F;
 --primary-light:#F4EBEB;
}

@theme inline {
  --color-dark: var(--dark);
  --color-dark-alternate: var(--dark-alternate);
  --color-primary: var(--primary);
  --color-primary-light: var(--primary-light);

  --font-poppins: var(--font-Poppins);
}

* {
  @apply font-poppins;
}

html{
  overflow-x: hidden;
}

/*input Group */
.input-group{
  @apply mb-5;
}

.input-group label{
  @apply block text-xs mb-1;
}

.input-group input, 
.input-group textarea{
  @apply px-4 py-2.5 bg-gray-100 w-full focus:border focus:border-gray-400 outline-none text-sm;
}












/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

/* body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
